body {
  overflow-x: hidden;
  width: 100%
}

#app {
  width: 100%;
  overflow-x: hidden
}
.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: #444 3px solid;
}

.carousel-item {
  height: 600px;
  width: 100%
}
.single-carousel-content {
  position: relative;
  top: 550px;
  z-index: 20;
}
.overlay {
  position: relative;
  top: 0;
  z-index: 10;
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 650px;
  /* margin-top: -300px; */
}
@media(max-width : 767px){
  #showcase {
    min-height: 600px
  }
  #myCarousel {
    height: 550px
  }
  .carousel-inner {
    height: 530px;
  }
  .carousel-item {
    height: 550px !important;
    background-position: -100px 0
  }
}
@media(max-width : 425px){
  .carousel-item {
    height: 300px;
    width: 100%
  }
}

.carousel-image-1 {
  background-image: url('../img/page.png');
  background-size: cover;
}

.carousel-image-2 {
  background-image: url('../img/audi-1890687.jpg');  
  background-size: cover;
}

.carousel-image-3 {
  background-image: url('../img/latest.jpg');
  background-size: cover;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url('../img/lights.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

#video-play {
  position: relative;
  min-height: 200px;
  background: url('../img/media.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../img/image1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: #333;
}

#main-footer {
  background: #000;
  color: #fff;
}
.section-body {
  background: #403B4A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #403B4A, #403B4A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #403B4A, #403B4A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}



